<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="thediv">
    <h3>{{ icecream["name"] }}</h3>
    <h4>Flavor: {{ icecream["flavor"] }}</h4>
    <h4>Topping: {{ icecream["topping"] }}</h4>
    <h4><b>Sprinkles: {{ icecream["sprinkles"] }}</b></h4>
    <h4><b>Size: {{ icecream["size"] }}</b></h4>
    <h4><b>Price: ${{ icecream["price"] }}</b></h4>
    <a href="{{ url_for('add_icecream',name=icecream['name'])}}">
        <button>Add to Cart</button>
    </a>
</body>

</html>